
<div id="login-form">

<% form_for :user do |f| -%>
  <%= error_messages_for :user %>
<table><tr>
    <td><label for="login">Login:</label> </td>
    <td><%= f.text_field :login %></td>
  </tr>
  <tr>
    <td><label for="email">Email:</label></td>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><label for="password">Password:</label></td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td><label for="password_confirmation">Confirm Password:</label></td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
  <tr>
    <td><%= submit_tag 'Sign up' %></td>
  </tr></table>
  <p>
  <%= link_to "login", :controller=>"account", :action=>"login" %>
  </p>
<% end -%>
  
  
</div>